/classes/
/out/
.idea/
*.ipr
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/output
out
/logs
/*.log.*
/mm_service/logs/*
/mm_service/*log*.*
/mm_dao/target/
/mm_http/target/
/mm_service/target/